body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.portfolio{    
    background: linear-gradient(to right top, #123acb, #6cdbeb);
    padding: 5px 0;
    text-align: center;
    color: white;}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:none;
    padding: 15px;
}
h1{
    font-size: 1.5rem;
    margin: 20px;
    padding: 0px;}
h2 {
    color: black;
    font-size: 1.5rem;


    }


.portfolio__content{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.portfolio__item{

    width: 425px;
    height: 375px;
    margin: 5px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 55px;  
    overflow:hidden;
    
    
}
h3{
    
    font-style: bold;
    
}


img {
    width:  auto;
    height: auto;
    object-fit: cover;
    max-width: 100%; 
    
    
}

