.about{
    width: 100%;
    padding: 2px 5%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: white;
    background: linear-gradient(to right top, #914fc1, #802ba7);
    
}
.aboutImg{

    width: 150px;
    height: 150px;
    border-radius: 100%;
}

p {
    margin-top: 20px;
    padding: 2px;
    font-size: 20px;
}

.abouttitle{
    color:white;
}