.about{
    width: 90%;
    padding: 2px 5%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: auto;
    color: rgb(224, 205, 205);
    background: linear-gradient(to right top,#123acb, #6cdbeb);
    
    
}
.aboutImg{

    width: 250px;
    height: 250px;
    border-radius: 100%;
    
}

p {
    margin-top: 20px;
    padding: 2px;
    font-size: 30px;
    line-height:60px;
    
    
    
}

.abouttitle{
    color:white;
    display:flex;
    place-content: center;
    font-size: 75px;
}

.description {

    width: 40%;
}