.about{
    width: 90%;
    padding: 2px 5%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: auto;
    color: white;
    background: linear-gradient(to right top, #655570, #802ba7);
    
}
.aboutImg{

    width: 250px;
    height: 250px;
    border-radius: 100%;
}

p {
    margin-top: 20px;
    padding: 2px;
    font-size: 30px;
    line-height:75px;
    
    
    
}

.abouttitle{
    color:white;
    display:flex;
    place-content: center;
}