.contact{
background-color: blueviolet;
color: white;
}

.container{
width: 90%;
margin: auto;
}

form{
width:60%;
padding: 20px;
display: flex;
flex-direction: column;
}

.form-group{
margin: 10px 0;
display: flex;
flex-direction: column;
}

button{
width: 100px;
}